*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    transition:0.15s;
    color: black;
}
#conteiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px  ;
}
.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    width: 100%;
    max-width: 1200px;

}
form{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
input{
    color:rgba(0, 0, 0, 0.5);
    border-color:rgba(126, 126, 126, 0.5);
    border: solid;
    height: 36px;
    width: 340px;
    font-weight: bold;
}
#filter{
    color:rgba(0, 0, 0, 0.5);
    border-color:rgba(126, 126, 126, 0.5);
    border: solid;
    height: 36px;
    width: fit-content;
}
.search{
    background: rgba(55, 50, 153, 1);
    color: white;
    border: none;
    border-radius: 9px;
    width: 87px;
    height: 36px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

#countries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    flex-direction: row;
    gap: 30px;

}
.card{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 30%;
    max-width: 380px;
    height: 350px;
    border-radius: 15px;
    gap: 15px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(252, 252, 252);
}
.card:hover{
    /* background-color:silver; */
    scale: 1.1;

}
.downer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 50%;
}

.flag{
    width: 100%;
    height: 45%;
    object-fit: cover;
    max-height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.detail{
    font-weight: bold;
}
.is-hidden{
    display: none;
}
.is-hidden1{
    display: none;
}